---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import SectionConteiner from "../components/SectionConteiner.astro";

import BriefcaseIcon from "../icons/Briefcase.astro";
---

<Layout
  title="Portfolio Steven - Desarrollador web"
  description="Explora mi trabajo como desarrollador web, presentando proyectos que destacan mis habilidades en diseño, desarrollo y tecnología"
>
  <main class="w-[606px] h-[2193px] py-28">
    <SectionConteiner class="">
      <div class="flex justify-items-start items-center gap-x-6">
        <div class="rounded-full shadow-white">
          <img
            src="/public/images/memoji-preview.png"
            alt="Steven"
            class="size-[120px]"
          />
        </div>
        <div class="flex flex-col gap-y-2">
          <h1
            class="text-white text-3xl bg-gradient-to-l from-slate-100 via-neutral-200 to-gray-500 bg-clip-text text-transparent font-extrabold"
          >
            Hey, soy Steven
          </h1>
          <a
            href="https://www.linkedin.com/in/stivenvr/"
            target="_blank"
            rel="noopener"
          >
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div>
      </div>
      <h2 class="mt-6 opacity-90 text-base text-justify">
        +2 años de experiencia de Desarrollador Web.<span class="opacity-60">
          Hábil en programación, bases de datos y desarrollo de interfaces.</span
        > Experto en tecnologías modernas y buenas prácticas de desarrollo,<span
          class="opacity-60"
        >
          enfocado en entregar proyectos eficientes y de calidad.</span
        >
      </h2>
    </SectionConteiner>
    <SectionConteiner class="py-20">
      <h2 class="flex items-center">
        <BriefcaseIcon />Experiencia laboral
      </h2>
      <Experience />
    </SectionConteiner>
  </main>
</Layout>
