---
import ExperienceItem from "./ExperienceItem.astro";

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const EXPERIENCE = [
  {
    date: i18n.EXPERIENCE.JOB_1.DATE,
    title: i18n.EXPERIENCE.JOB_1.TITLE,
    subtitle: i18n.EXPERIENCE.JOB_1.SUBTITLE,
    description: i18n.EXPERIENCE.JOB_1.DESCRIPTION,
    link: "https://tailwindui.com/components/application-ui",
  },
  {
    date: i18n.EXPERIENCE.JOB_2.DATE,
    title: i18n.EXPERIENCE.JOB_2.TITLE,
    subtitle: "",
    description: i18n.EXPERIENCE.JOB_2.DESCRIPTION,
  },
  {
    date: i18n.EXPERIENCE.JOB_3.DATE,
    title: i18n.EXPERIENCE.JOB_3.TITLE,
    subtitle: i18n.EXPERIENCE.JOB_3.SUBTITLE,
    description: i18n.EXPERIENCE.JOB_3.DESCRIPTION,
  },
];
---

<ol class="relative border-s border-gray-400 dark:border-gray-700 sm:ml-20">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
