---
// Importing the logo
---

<header class="flex justify-center items-center py-10 w-[606px] h-[53px]">
  <nav class="flex gap-12 opacity-80">
    <a href="/">Experiencia</a>
    <a href="/projects">Proyectos</a>
    <a href="/about">Sobre mí</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
