---
import Badge from "../components/Badge.astro";
import BadgeDark from "../components/BadgeDark.astro";

import MailSendIcon from "../icons/MailSend.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
---

<div class="flex justify-center items-center gap-x-4">
  <div
    class="rounded-full bg-gradient-to-tl from-blue-600 via-blue-500 to-blue-200"
  >
    <img
      src="/public/steven.webp"
      alt="Steven perfil"
      class="size-[120px] rounded-full"
    />
  </div>
  <div class="flex flex-col gap-y-2">
    <h1
      class="text-3xl md:text-3xl font-extrabold dark:text-gray-200 text-gray-800"
    >
      Hey, soy Steven!
    </h1>
    <h3 class="text-base font-bold text-gray-200">
      <span
        class="bg-gradient-to-l from-blue-600 dark:via-blue-300 dark:to-blue-200 via-blue-400 to-blue-300 bg-clip-text text-transparent"
      >
        Desarrollador Full-stack
      </span>
      <span>游</span>
    </h3>
  </div>
</div>
<p
  class="mt-8 text-gray-800 text-center dark:[&>strong]:text-blue-400 [&>strong]:text-blue-500 [&>strong]:font-semibold dark:text-gray-300"
>
  +2 a침os de experiencia profesional como <strong
    >Ingeniero de Sistemas en el Desarrollo Full-stack.</strong
  > H치bil en programaci칩n, bases de datos y creaci칩n de experiencias de usuario sin
  fisuras. <strong
    >Experto en tecnolog칤as modernas y buenas pr치cticas de desarrollo</strong
  >, enfocado en la creaci칩n de soluciones robustas y escalables.
</p>

<div class="w-full flex justify-center gap-x-4 py-4">
  <a
    href="https://www.linkedin.com/in/stivenvr/"
    target="_blank"
    rel="noopener"
  >
    <Badge>
      <LinkedinIcon class="size-3 mr-1" />
      Linkedin</Badge
    >
  </a>
  <a href="mailto:stivenvillarreal@gmail.com" target="_blank" rel="noopener">
    <BadgeDark>
      <MailSendIcon class="size-4 mr-1" />
      Contactame</BadgeDark
    >
  </a>
</div>
