---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class=`section w-[400px] md:w-[560px] md:mx-auto container scroll-m-20 ${className}`
>
  <slot />
</section>
