<h2
  class="flex flex-col justify-center gap-x-2 items-center text-xl md:text-3xl font-bold mb-10 text-gray-200 uppercase"
>
  <slot />
  <span
    class="text-sm bg-gradient-to-l from-blue-600 via-blue-300 to-blue-200 bg-clip-text text-transparent"
  >
    Explorar ahora
  </span>
</h2>
